body {
    margin: 0;
    height: 100vh;
    font-family: Arial, san-serif;
    background-color: #370b57;
    color: #ffffff;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    text-align: center;
}
